
input[type="button"]:disabled {
    border: 1px solid grey;
    background-color: grey;
}

.answerCard {
    line-height: 1em;
    text-align: left;
    height: 5em;
    word-wrap: break-word;
    white-space:normal;
}
