
button[disabled] {
    border: 1px solid grey !important;
    background-color: grey !important;
}

.answerCard {
    line-height: 1em;
    text-align: left;
    height: 5em;
    word-wrap: break-word;
    white-space:normal;
}
